---
---

<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>

    <div class="header center-block">
      <img src="/assets/compakt_logo.png"/>
      <h1>compakt</h1>
      <h3><i>condense and compress Twitch chat</i></h3>
    </div>

    <div class="page-content">
      <div class="wrapper">

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 center">
            <img src="/assets/demo.gif"/>
            <figcaption>(that "an message" typo was on purpose, I swear!)*</figcaption>
            <br/>
            <a class="btn btn-default" href="#" id="install-button">
              <img src="/assets/ChromeWebStore_Badge.png" alt="Chrome Web Store"/>
            </a>
          </div>
          <div class="col-md-2"></div>
        </div>
      </div>
    </div>

    <div class="wrapper container">
      <p class="lead">Let Twitch Chat be Twitch Chat.</p>
    </div>
    {% include footer.html %}

    <script>
    $("#install-button").click(function() {
      chrome.webstore.install();
    });
    </script>
  </body>
</html>
