---
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel=”shortcut icon” href=”favicon.ico” type=”image/png”>
    <link rel=”icon” href=”favicon.ico” type=”image/png”>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/gfjfndigkjbiabgckjpngijjdkmebeje">
    <link rel="stylesheet" href="{{ "/css/normalize.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/bootstrap.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
    <script src="{{ "/js/vendor/modernizr-2.8.3.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/vendor/jquery-1.11.2.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
    {% seo %}
  </head>
  <body>

    <div class="page-content">
      <div class="header center-block container">
        <img src="/assets/compakt/icon_web.svg"/>
        <h1>compakt</h1>
        <p class="subtitle">condense and compress Twitch chat</p>
      </div>
      <div class="wrapper container">
        <!-- abstract row -->
        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-8 center">
            <img src="/assets/demo.gif"/>
            <figcaption class="caption">(that "an message" typo was on purpose, I swear!)<a href="#how">*</a></figcaption>
            <br/>
            <a class="btn btn-default" href="#" id="install-button">
              <img src="/assets/ChromeWebStore_Badge.png" alt="Chrome Web Store"/>
            </a>
          </div>
          <div class="col-md-2"></div>
        </div>

        <!-- FAQ section -->
        <div class="page-header">
          <h2>FAQ</h2>
        </div>

        <h3>How much does it cost?</h3>
        <p>It's free!</p>

        <h3>Is it open-source?</h3>
        <p>Absolutely! Check out the repository <a href="https://github.com/nhatbui/compakt">here.</a></p>

        <h3>Do you send usage reports or track where I go online?</h3>
        <p>No. We constrain the extension to only work on Twitch. There's no code that monitors and
          tracks your usage. Please feel free to explore the <a href="https://github.com/nhatbui/compakt">source code</a> yourself!</p>

        <h3><span id="how">How does it work?</span></h3>
        <p><i>compakt</i> uses <a href="https://en.wikipedia.org/wiki/Suffix_array">suffix arrays</a> to compress messages and <a href="https://en.wikipedia.org/wiki/MinHash">minhashing</a> to condense similar messages.</p>
        <p>In the example GIF above, noticed the 2 similar messages "This is a message." and "This is an message.". <i>compakt</i> notices
          that the messages are <a href="https://en.wikipedia.org/wiki/MinHash#Jaccard_similarity_and_minimum_hash_values">similar enough</a>
          and thus condensed them together.</p>

        <h3>Is this "sentence-compression"?</h3>
        <p>Technically it is because we're reducing the length of a sentence
          while maintaining its meaning. However, the algorithms do not look
          at any semantics of the original message. We just happen to retain
          the meaning because it's being uttered more than once. This also
          assumes all messages on Twitch chat are well-formed sentences.</p>

        <h3>Is this "data-compression"?</h3>
        <p>Yes but at a much more simplistic level. Advanced techniques of compression
          prioritize data-size (of course) which is extremely beneficial for
          storage and transit but not for human-consumption.</p>

        <h3><i>Guys can you please not spam the chat. My mom bought me this new laptop and it gets really hot when the chat is being spamed. Now my leg is starting to hurt because it is getting so hot. Please, if you don't want me to get burned, then dont spam the chat.</i></h3>
        <p>If anything, this will make your laptop get hotter.</p>
      </div>
    </div>

    <div class="wrapper container">
      <p class="lead center">Let Twitch Chat be Twitch Chat.</p>
    </div>
    {% include footer.html %}

    <script>
    $("#install-button").click(function() {
      chrome.webstore.install();
    });
    </script>
  </body>
</html>
