.header {
  text-align: center;
}

.center {
  text-align: center;
}

.subtitle {
  font-family: "MontserratReg";
  font-style: italic;
  color: $grey-color-dark;
}

.caption {
  font-style: italic;;
  color: $grey-color-dark;
}
